<h2>Exchange</h2>

<h3 *ngIf="!found">Exchange not found!</h3>

<div *ngIf="exchange">
    <h3>{{exchange.name}}</h3>
    <div>
        Website: <a href="{{exchange.website}}">{{exchange.website}}</a>
    </div>
    <div>
        Volume: {{exchange.volume_24h | number: '1.0-15'}}$
    </div>
    <br>
    <app-volume-list [quote]="exchange.quote"></app-volume-list>
</div>

<br>

<div>
    <button class="back-button"(click)="goBack()">Go back</button>
</div>

<h2>Markets</h2>

<app-market-list [markets]="markets"></app-market-list>

